@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background: #0B0C10; 
    --color-surface: #191A23;    
    --color-text-primary: #F3F4F6;   
    --color-text-secondary: #9CA3AF; 
    --color-border-default: #374151; 
  }
}